    <div class="container d-flex flex-column justify-center text-center">
    <h1>Article Page</h1>
        <div class="card" id="article_card">
            <div class="card-header">
                By <%= @article.user.username %>
            </div>
            <div class="card-body">
                <h5 class="card-title"><%= @article.title %></h5>
                <div class="card-text description-text"><%= simple_format(@article.description) %></div>
                <%= link_to "Edit", edit_article_path(@article), class: "btn btn-outline-warning" %>
                <%= link_to "Delete", article_path(@article), data: { turbo_method: :delete },  class: "btn btn-outline-danger" %>
            </div>
            <div class="card-footer text-muted">
               Created <%= time_ago_in_words(@article.created_at) %> ago.
               Last edited <%= time_ago_in_words(@article.updated_at) %> ago
            </div>
        </div>
    <p><%= link_to "Return to all Articles", articles_path() %></p>
</div>
