<%= render "shared/errors", object: @user %>

<%= form_with(model: @user, local: true, data: { turbo: false }, class: "form d-flex flex-column") do |f| %>
    <div class="mb-3 d-flex">
        <%= f.label :username, class: "form-label", id: "exampleInputEmail1" %>
        <%= f.text_field :username, class: "form-control", id: "exampleInputEmail1" %>
    </div>

    <div class="mb-3 d-flex">
        <%= f.label :email, class: "form-label", id: "exampleInputEmail1" %>
        <%= f.text_field :email, class: "form-control", id: "exampleInputEmail1", rows: "8" %>
    </div>

    <div class="mb-3 d-flex">
        <%= f.label :password, class: "form-label", id: "exampleInputEmail1" %>
        <%= f.password_field :password, class: "form-control", id: "exampleInputEmail1", rows: "8" %>
    </div>
    <%= f.submit(@user.new_record? ? "Sign up" : "Edit profile", class: 'btn btn-outline-light form__submit-btn') %>
<% end %>
