<div class="container text-center">
<h1><%= "#{@user.username}'s profile" %></h1>

<%= gravatar_for(@user, 200) %>

<% if @user == current_user %>
    <div class="text-center m-4">
        <%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-outline-info" %>
    </div>
<% end %>

<h1>Articles</h1>

<%= render "shared/articlesList", articles: @user.articles %>

[<%= link_to "Return to articles", articles_path %>]
</div>

